.pt-30 {
  padding-top: $spacer-xl;
}

.mt-30 {
  margin-top: $spacer-xl;
}

.mb-10 {
  margin-bottom: $spacer-xs;
}

.mb-20 {
  margin-bottom: $spacer-md;
}

.mb-30 {
  margin-bottom: $spacer-xl;
}

.text-left {
  text-align: left;
}

.p-10 {
  padding: $spacer-md 0;
}
