$color-acento: #cc4444;
$color-100: #fff;
$color-200: #fafafa;
$color-700: #333;
$color-800: #222;
$color-900: #111;

$spacer-xs: 10px;
$spacer-sm: 15px;
$spacer-md: 20px;
$spacer-lg: 25px;
$spacer-xl: 30px;
$spacer-2xl: 50px;
